<section class="about container">
    <h1 class="text-center mb-5">About Stroke.</h1>
    <p>
        A Stroke is a health condition that causes damage
    by tearing the blood vessels in the brain. It can also occur when
    there is a halt in the blood flow and other nutrients to the brain.
    According to the World Health Organization (WHO), stroke is
    the leading cause of death and disability globally. Most of the
    work has been carried out on the prediction of heart stroke but
    very few works show the risk of a brain stroke. 
    </p>
    <p>
        To avoid the risk of getting a Stroke, we built this machine
        learning model to predict the possibility of Stroke in the brain.
    </p>
     
</section>
