<h1> Stroke Prediction</h1>

<p>
    A Stroke is a health condition that causes damage
    by tearing the blood vessels in the brain. It can also occur when
    there is a halt in the blood flow and other nutrients to the brain.
    According to the World Health Organization (WHO), stroke is
    the leading cause of death and disability globally. Most of the
    work has been carried out on the prediction of heart stroke but
    very few works show the risk of a brain stroke. With this
    thought, various machine learning models are built to predict the
    possibility of stroke in the brain. 
</p>


<nav id="btn">
    <a routerLink="predict">See Your Result Here.</a>
</nav>



<router-outlet></router-outlet>

<footer></footer>