.home img {
    width: 50%;
    height: 500px;
    object-position: center;
    object-fit: cover;
}

.homecontent {
    
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.homecontent h1 {
    text-align: center;
    color: crimson;
    font-size: 50px;
}

.homecontent a {
    margin-top: 20px;
}

.btn {
    background-color: rgb(185, 252, 168);
    border: none;
    border-radius: 40px;
}